* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    position: absolute;
    margin: auto;
}
/* nav{
    display: flex;
    padding: 1% 47%;
    justify-content: space-between;
    align-items: center;
} */
/* div{
    display: flex;
    justify-content: center;
} */
.logo{
    width: 133px;
    height: 115px;
    margin: auto;
}



/* [START] COLLECTION CONTENT */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.container {
    display: flex;
    flex-direction: row;
}
.left {
    height: 700px;
    display: block;
    width: 60%;
    overflow-y: scroll;
    padding-left: 5%;
}
.right {
    height: 100%;
    display: block;
    width: 40%;
    overflow-y: none;
}
.collection-title{
    margin: auto;
    text-align: center;
    margin-top: -1rem;
}
.item-title{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.05;
    display: inline;
    text-align: center;
}
.item-date {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    padding: 0.5vw 0;
    color: #757575;
    display: block;
}
.item-location {
    font-size: calc(.875rem + (16 - 14) * ((100vw - 375px)/ (1440 - 375)));
    font-weight: 600;
    line-height: 18px;
    color: #4a4a4a;
    font-weight: 300;
    margin-top: -30px;
    display: block;
    margin-left: 6%;
}
.icon {
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
}
.location-onview .icon {
    margin-top: -5px;
}
.item-location .icon {
    height: 15px;
    margin-right: 4px;
}
.item-intro-desc {
    font-size: calc(15px + .3vw);
    line-height: 1.3333;
    word-break: break-word;
    font-weight: 300;
    margin-top: calc(24px + 0.75vw);
    margin-left: 6%;
    margin-right: 6.5%;
    overflow: hidden;
    position: relative;
    text-indent: 50px;
    max-height: 400px;
    text-align: justify;
}
.item-intro-desc .read-more { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; 
    padding: 30px 0;
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
  }
.read-more .button{
    font-size: 15px;
    padding: 9px;
    color: white;
    background-color: #E3AD3F;
    box-shadow: 0px 8px 16px 0px rgb(66 66 66 / 20%);
    font-weight: 500;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    margin-right: 15%;
}
.read-more .button:hover{
    padding: 5px;
}
.the-item-inset {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 8%;
    margin-left: 3%;
    position: absolute;
}


/* AUDIO PLAYER */

.design
{
      height: 100vh;
    background-color: rgb(247,193,55);
    display: flex;
    align-items: center;
}

.implementation
{
  min-width:400px;
  height:100vh;
  background:rgb(247,193,55);
  margin-left:20px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.now-playing-board
{
  height:70px;
  width:300px;
  background-color:rgba(255,255,255,0.4);
  border-radius:10px;
  display: flex;
  justify-content:flex-end;
}

.now-playing-board-bottom-bar
{
  height:50px;
  width:300px;
  background-color:rgba(255,255,255,0.4);
  border-radius:10px;
  display: flex;
  justify-content:flex-end;
  
}

#now-playing-board-id
{
  transform:translatey(56%);
  transition:transform 2s;
}

#now-playing-board-bottom-bar-id
{

  transform:translatey(-20%);
  transition:transform 2s;
  
}

.now-playing-details
{
  display: flex;
  flex-direction: column;
  color:black;
  padding-top:2px;
}

.now-playing-details > h4,h6,.slidecontainer-one
{
  font-family: "Lucida Console", Courier, monospace;
  width:180px;
  margin: 0px;
  margin-top:5px;
  color:black;
  opacity:1;
  
}

/* seek bar style */

.slidecontainer-one {
  width: 90%;
  position:relative;
}
#completionBar {
position:relative;
  top:0;
  width: 0%;
  height: 5px;
  background: rgba(0,0,0,1);
  z-index:0;
}
.slider {
position:absolute;
  top:-2px;
  width: 100%;
  height: 5px;
  z-index:1;
  background: rgba(0,0,0,0.1);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  position:relative;
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 5px;

  background: #000000;
  cursor: pointer;
  z-index:3;
}


/* -------------- */


.play-controls
{
  height:70px;
  width:320px;
  margin-top:-20%;
  background:white;
  border-radius:10px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  z-index:2;
/*   visibility: hidden; */
}

.vynl
{
  margin-top:-14%;
  margin-left:-4%;
}

.vynl-animation
{
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.play-buttons
{
  width:100px;
  height:30px;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.volume-button
{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:30px;
  height:30px;
}

.play-circle
{
 width:32px; 
 height:32px;
  background-image: url(https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/circled_play-512.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pause-circle
{
 width:28px; 
 height:28px;
  background-image: url(https://cdn2.iconfinder.com/data/icons/ios-tab-bar/25/Pause_Filled-512.png);
  background-size: cover;
  background-repeat: no-repeat;
}