* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 20vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #E3AD3F;
}

nav img{
    width: 200px;
    height: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.sub-menu{
    display: none;
    position: absolute;
    background-color: #e3ac3fb0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 5px;
    z-index: 100;
}

.nav-links ul li:hover .sub-menu{
    display: block;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #E3AD3F;
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: -59px;
        text-align: left;
        z-index: 1;
        transition: 0.5s;
        overflow-x: hidden;
    }
    .nav-links ul li::after{
        display: none;
    }
    .sub-menu{
        box-shadow: none;
        opacity: 1;
        position: relative;
        top: 0;
        min-width: 120px;
        background: #E3AD3F;
        overflow: hidden;
        display: none;
        margin-left: -2rem;
    }
    .menu-item .sub-menu{
        display: none;
    }
    .sub-menu .sub-item{
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* [START] COLLECTION CONTENT */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.container {
    display: flex;
    flex-direction: row;
}
.left {
    height: 700px;
    display: block;
    width: 35%;
    overflow-y: scroll;
    padding-left: 5%;
}
.right {
    height: 100%;
    display: block;
    width: 65%;
    overflow-y: none;
}
.collection-title{
    margin-top: calc(30px + 1vw);
    margin-left: calc(30px + 1vw);
    margin-bottom: calc(30px + 1vw);
    padding-top: calc(15px + 1vw);
}
.item-title{
    font-size: calc(22px + 1.5vw);
    font-weight: 500;
    line-height: 1.05;
    display: inline;
}
.item-title-text {
    font-family: MetSerif,Georgia,serif;
}
.item-date {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    padding: 0.5vw 0;
    color: #757575;
    display: block;
}
.item-location {
    font-size: calc(.875rem + (16 - 14) * ((100vw - 375px)/ (1440 - 375)));
    font-weight: 600;
    line-height: 18px;
    color: #4a4a4a;
    font-weight: 300;
    margin-top: -30px;
    display: block;
    margin-left: 6%;
}
.icon {
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
}
.location-onview .icon {
    margin-top: -5px;
}
.item-location .icon {
    height: 15px;
    margin-right: 4px;
}
.item-intro-desc {
    font-size: calc(15px + .3vw);
    line-height: 1.3333;
    word-break: break-word;
    font-weight: 300;
    margin-top: calc(24px + 0.75vw);
    margin-left: 6%;
    margin-right: 6.5%;
    overflow: hidden;
    position: relative;
    text-indent: 50px;
    height: 400px;
    text-align: justify;
}
.item-intro-desc .read-more { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; 
    padding: 30px 0;
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
  }
.read-more .button{
    font-size: 15px;
    padding: 9px;
    color: white;
    background-color: #E3AD3F;
    box-shadow: 0px 8px 16px 0px rgb(66 66 66 / 20%);
    font-weight: 500;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    margin-right: 15%;
}
.read-more .button:hover{
    padding: 5px;
}
.the-item-inset {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 8%;
    margin-left: 3%;
    position: absolute;
}

/* RIGHT SIDE */

/* try */
.item-inset {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
figure{
    margin: 0;
}
.item-figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 60vh;
    padding: 0;
    position: relative;
    margin-top: 5rem;
    margin-right: 8rem;    
    margin-left: 5rem;
}
img {
    border: 0;
    height: auto;
    max-width: 100%;
    padding: 0;
}
.image-wrapper{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f8f8f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 20;
    -ms-flex: 20 1px;
    flex: 20 1px;
    height: 1px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
}
.item-image{
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: -webkit-transform opacity;
    transition-property: -webkit-transform opacity;
    transition-property: transform opacity;
    transition-property: transform opacity,-webkit-transform opacity;
    -webkit-transition-timing-function: cubic-bezier(.1,.7);
    transition-timing-function: cubic-bezier(.1,.7);
}
.controls {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    width: min(calc(100vw - (100vw - 100%)),1600px);
}
.item-interactions{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}
.item-interaction{
    margin: 0;
    padding: 0;
}
.item-interaction a {
    background-image: none;
    border-bottom: none;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
}
a {
    color: inherit;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.item-interaction .icon {
    color: #000;
    height: 20px;
    width: 15px;
}
.item-interaction .icon:hover {
    color: rgb(139, 139, 139);
}
.icon {
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
}

.download-text, .enlarge-text, .share-text {
    display: none;
}
.item-interaction button {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 34px;
    width: 31px;
}
.item-interaction button:hover {
    color: rgb(139, 139, 139);
}
.enlarge-image-button .icon {
    height: 15px;
    margin: 2px 0 0 0;
}

/* ul {
    list-style-type: disc;
}
li {
    margin: 0.625rem 0 0;
} */
@media(max-width: 700px)
{
    .item-figure{
        height: 100%;
    }
    .controls {
        padding: 5px 0;
        width: 100%;
    }
    .item-interactions {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
    }
}
/* try */

/*IMAGE MODAL*/
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* END MODAL STYLE */


.audio-picture{
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10%;
    margin-left: 90px;
    height: 450px;
    width: 550px;
    object-fit: contain;
    background-color: #f9f9f9;
    box-shadow: 0px -2px 2px rgb(239 239 239 / 60%);
}
.audio-picture img{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.action-button{
    font-size: 1.3rem;
}

/* [END] COLLECTION CONTENT */


/* [START] OTHER ITEMS */
.section-carousel .other-items-title, .section-carousel .end-to-end-carousel__heading {
    padding-left: calc((100% - min(calc(85vw - (100vw - 100%)),1600px))/ 2);
}
.other-items{
    margin-top: calc(32px + 1vw);
    padding-top: calc(32px + 1vw);
}
.section-inset {
    margin: 0 auto;
    padding: 0;
    width: min(calc(85vw - (100vw - 100%)),1600px);
}
.section-carousel {
    width: 100%;
}
h2.other-items-title, h2.collection-objects-grid__title {
    font-size: calc(1.5rem + (30 - 24) * ((100vw - 375px)/ (1440 - 375)));
    font-weight: 500;
    line-height: 1.1;
}
.carousel-wrapper {
    position: relative;
}
.carousel-display-no-scrollbar {
    scrollbar-width: none;
}
.carousel-display{
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}
.carousel-display-left, .carousel-display-right{
    background: no-repeat center/20px url(assets/img/arrow.png);
    background-color: #E3AD3F;
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 3px 1px rgb(0 0 6 / 20%);
    box-shadow: 0 0 3px 1px rgb(0 0 6 / 20%);
    cursor: pointer;
    display: none;
    height: 42px;
    position: absolute;
    top: 155px;
    width: 42px;
}
.carousel-display-left{
    left: 5px;
}
.carousel-display-right {
    right: 5px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.related-display {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}
.carousel-display-offset>:first-child {
    margin-left: calc((100% - min(calc(85vw - (100vw - 100%)),1600px))/ 2);
}
figure{
    margin: 0;
    display: block;
}
a:hover, a:visited {
    color: inherit;
}
.related-display-image-link {
    background-color: #e3e3e3;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 350px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 250px;
    overflow: hidden;
}
a {
    color: inherit;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}
.related-display-image {
    margin: auto;
    /* max-height: 350px; */
    /* max-width: ; */
    min-width: 43px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.related-display-title {
    font-size: calc(1.125rem + (20 - 18) * ((100vw - 375px)/ (1440 - 375)));
    font-weight: 600;
    font-weight: 500;
    line-height: 1.3;
    margin: calc(16px + 0.5vw) 0 0;
    padding: 0;
}
.related-display-title a {
    border: none;
}
.related-display-meta {
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
    padding: calc(8px + 0.25vw) calc(8px + 0.25vw) calc(8px + 0.25vw) 0;
}
.related-display-gallery {
    color: #323536;
    font-size: 15px;
    margin-top: 3px;
}
.related-display-date {
    color: #64696b;
    font-size: 13px;
    margin-top: calc(10px + 0.25vw);
}

@media screen and (min-width: 1100px){
    .carousel-has-left-button .carousel-display-left {
        display: block;
    }
    .carousel-has-right-button .carousel-display-right {
        display: block;
    }
}
@media (max-width: 700px){
    .container {
        display: flex;
        flex-direction: column-reverse;
        }
    .left {
        height: 100%;
        display: block;
        width: 100%;
        overflow-y: scroll;
        padding-left: 0;
    }
    .right{
        flex-direction: column-reverse;
        height: 100%;
        display: block;
        width: 100%;
    }
    .item-figure {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 60vh;
        padding: 0;
        position: relative;
        margin-top: 1rem;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    .image-wrapper {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #f8f8f8;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 20;
        -ms-flex: 20 1px;
        flex: 1 204px;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 15px;
    }
}


/* [START] OTHER ITEMS */


/* [START] FOOTER */

#footer{
    width: 100%;
    padding: 100px 0 20px;
    background: #E3AD3F;
    position: relative;
}
.title-text{
    text-align: center;
    padding-bottom: 30px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: maroon;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text h1{
    font-size: 25px;
    color: maroon;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: -20px;
    color: maroon;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 25px;
}

.footer-left .fa, .footer-right .fa{
    font-size: 20px;
    color: maroon;
    margin: 10px;
}
.footer-left p, .footer-right p{
    color: maroon;
}
.footer-img{
    max-width: 159px;
    position: absolute;
    left: 44.5%;
    top: 65%;
}

.social-links{
    text-align: center;
    margin-bottom: 50px;
}

.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid maroon;
    margin: 40px 5px 0;
    color: maroon;
    cursor: pointer;
    transition: .5s;
}

.social-links .fa:hover{
    background: maroon;
    color: #E3AD3F;
    transform: translateY(-7px);
}

.social-links p{
    font-size: 12px;
    margin-top: 20px;
    color: black;
}
.quicklinks a{
    text-decoration: none;
    color: maroon;
    transition: .3s;
}
.quicklinks a:hover{
    color: #FFF;
    text-decoration: underline;
}


@media screen and (max-width:770px){
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: 14px;
        margin-bottom: 40px;
    }
    .footer-img {
        max-width: 142px;
        position: absolute;
        left: 34%;
        top: 6%;    
    }
    .title-text p {
        font-size: 13px;
    }
    .title-text h1 {
        font-size: 20px;
    }
    .footer-row p {
        line-height: 10px;
    }

}