@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* body header{
    font-family: "Poppins", sans-serif;
    }

:root{

    --clr-neutral-100: #ffffff;
    --clr-neutral-300: #999595;
    --clr-primary-400: #1D1E4E;
    --clr-accent-500: #E3AD3F;
    --clr-accent-600: black;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold:700;

    --fs-300: .8125rem;
    --fs-400: .875rem;
    --fs-500: .9375rem;
    --fs-600: 1rem;
    --fs-620: 1.14rem;
    --fs-650: 1.250rem;
    --fs-700: 1.875rem;
    --fs-750: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --fs-primary-heading: var(--fs-750);
    --fs-secondary-heading: var(--fs-700);
    --fs-body: var(--fs-400);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-300);

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;

}


@media (min-width: 50em){
    :root{
        --fs-primary-heading: var(--fs-900);
        --fs-secondary-heading: var(--fs-800);
        --fs-body:var(--fs-500);
        --fs-nav:var(--fs-300);
        
    }
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto&display=swap');


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.main-header{
    align-items: center;
    z-index: 999;
    background-image: url("../../Images/CasaReal.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    justify-content: space-between;
    padding: 0px 100px 100px;
}

.main-header .navigation{
    position: relative;
    line-height: 75px;
}

.main-header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 10px 0;
}

.main-header .navigation .menu a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.3 ease;
}

.main-header .navigation .menu a:before{
    content: '';
    position: absolute;
    background: #E3AD3F;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
}

.menu-item .sub-menu{
    position: absolute;
    background: #E3AD3F;
    top: 60px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(0);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;

}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.5);
}

.menu-item .sub-menu .sub-item a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover{
    background: #517B79;
}

.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

.main-header .navigation .menu a:hover:before{
    width: 100%;
}

section{
    padding: 200px 200px;
}

.entry-text{
    margin-left: 4px;
}

@media (max-width: 1060px){
    .main-header .navigation .menu{
        position: relative;
        display: block;
        color: #000;
        min-width: 350px;
        top: 0;
        right: 0;
        padding: 90px 50px;
        overflow-y: auto;
    }

    .menu-item{
        position: relative;
    }

    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: #E3AD3F;
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover{
        color: #517B79;
        transition: 0.3s;
    }

}

/*Home Page Images*/

.logo{
    height: 150px;
    width: 300px;
    position: abolute;
    margin:0;
    padding: 0;
}


/*Footer*/

.primary-footer{
    margin-top: 4rem;
}

.nav-background{
    background-color: #E3AD3F;
}

.primary-footer-wrapper{
    display: grid;
    gap: var(--size-700);
    grid-template-areas: 
    'nav'
    'logo-social'
    'info';
}


@media (min-width: 50em){
    .primary-footer-wrapper{
        grid-template-areas:  'nav logo-social info ';
        
    }

}

@media (min-width: 50em){
    .primary-footer-nav, .center-text-footer{
       padding-top: 50px;
    }

    .primary-footer-nav{
        grid-area: logo-social;
        border-right: 1px solid white;
        padding-right: 100px;
    }
    
    .primary-footer-info{
        grid-area: info;
        border-left: 1px solid white;
        padding-left: 90px;
    }
}

.primary-footer-nav{
    grid-area: nav;
}

.primary-footer-logo-socail{
    grid-area: logo-social;
}

.primary-footer-info{
    grid-area: info;
}

.primary-footer-wrapper>*{
    margin-inline: auto;
}

.center-text-footer{
    text-align: center;
}


/* navigation*/

.header-text{
    margin-left: 50px;
}

.header-image{
    margin-inline: auto;
}

@media (max-width: 50em){
    .main-header{
        padding-bottom: 100px;
    }

    .header-text{
        text-align: center;
    }
    .header-image{
       align-items: center;
    }
}

.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.visually-hidden{
 position: abosulte;
 width: 1px;
 height: 1px;
 padding:0;
 margin: -1px;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 white-space: nowrap;
 border: 0;
}

.mobile-nav-toggle{
    display: none;

}

.nav-list a{
    font-size: var(--fs-nav);
}

.nav-list{
    display:flex;
    gap: clamp(var(--size-500), 5vw, var(--size-800));
    font-weight: var(--fw-bold);
    margin-right: 50px;
}



.nav-list a {
    text-decoration: none;
    color: var(--clr-accent-600);
    }
    
    .nav-list a :hover,
    .nav-list a :focus{
    color: var(--clr-accent-400);
    }

.search::before{
    content:'\1F50D';
}

@media (max-width: 50em){
    .primary-navigation{
        display: none;
        position: fixed;
        padding: var(--size-800);
        inset: 7rem var(--size-400) auto;
        max-width: 25rem;
        margin-inline: auto;
        background: var(--clr-neutral-100);
        border-radius: var(--size-100);
        box-shadow: 0 0 .75em rgb(0, 0, 0, 0.05);
        z-index: 1;
}

.primary-header[data-overlay]::before{
content:'';
position: fixed;
inset: 0;
background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8))
}

.nav-list{
 display: grid;
 gap: var(--size-700);
 text-align: center;
 margin-inline: auto;
 font-weight: var(--fw-bold);
}

.primary-navigation[data-visible]{
    display: block;
    
}

.mobile-nav-toggle{
    display: block;
    position:fixed;
    top: var(--size-600);
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    }
    
    .mobile-nav-toggle .icon-close{
     display: none;
    }   
}

.nav-background{
    background-color: #E3AD3F;
}

/* Footer navigation*/
.footer-nav a{
 color: var(--clr-neutral-100);
 text-decoration: none;

}

.footer-nav a:is(:hover, :focus){
    color: var(--clr-primary-400);
    text-decoration: none;
   
   }

.footer-nav{
    columns: 2;
    gap: clamp(var(--size-200), 15vw, var(--size-900));
}

.social-list{
    display: flex;
    gap: var(--size-600);
}

.social-icon{
    width: var(--size-600);
    fill: var(--clr-neutral-100);
}

.social-list a:is(:hover, focus) .social-icon{
    fill: var(--clr-primary-400);
}

@media (min-width: 50em){

    .social-list{
        display: flex;
        gap: var(--size-400);
    }

    .social-icon{
        width: var(--size-500);
    }
}


/* Utility classes */

/*colors*/
.color-primary-400{
    color: var(--clr-primary-400);
}

.color-neutral-100{
    color: var(--clr-neutral-100);
}
.color-accent-500{
    color: var(--clr-accent-500);
}

.color-accent-600{
    color: var(--clr-accent-600);
}


/*background colors*/
.bg-primary-400{
    background-color: var(--clr-primary-400);
}

.bg-neutral-100{
    background-color: var(--clr-neutral-100);
}
.bg-color{
    background-color: var(--clr-accent-500);
}
/*font-weight*/
.fw-regular{
    font-weight: var(--fw-regular);
}
.fw-semi-bold{
    font-weight: var(--fw-semi-bold);
}
.fw-bold{
    font-weight: var(--fw-bold);
}
/*font sizes*/
.fs-primary-heading{
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
}
.fs-secondary-heading{
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
}

.fs-body-heading{
    font-size: var(--fs-body);
}
.fs-nav-heading{
    font-size: var(--fs-nav);
}
.fs-button-heading{
    font-size: var(--fs-button);
}

.fs-300{ font-size: var(--fs-300);}
.fs-400{ font-size: var(--fs-400);}
.fs-500{ font-size: var(--fs-500);}
.fs-600{ font-size: var(--fs-600);}
.fs-620{ font-size: var(--fs-620);
}
.fs-650{ font-size: var(--fs-650);}
.fs-700{ font-size: var(--fs-700);}
.fs-800{ font-size: var(--fs-800);}
.fs-900{ font-size: var(--fs-900);}

.padding-inline-auto{
    padding-inline: var(--size-900);
}

.padding-block-900{
    padding-block: var(--size-900);
    
}

.padding-block-500{
    padding-block: var(--size-500);  
}

.padding-block-600{
    padding-block: var(--size-600);
    
}


.padding-block-300{
    padding-block: var(--size-300);
}

.padding-block-400{
    padding-block: var(--size-400);
    
}

.padding-block-700{
    padding-block: var(--size-700);
}

.container{
    --max-width: 11110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2 ));
    margin-inline: auto;
}

:where(.flow :not(:first-child)){
    margin-top: var(--flow-spacer, 0.75em);
}

:where(.flow :not(:first-child)){
    margin-bottom: var(--flow-spacer, 0.75em);
}

.even-columns{
    display: grid;
    gap: 1rem;
}

@media (min-width: 50em){
    .even-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

@media (max-width: 1060px){
    .nav-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .logo{
        height: 150px;
        width: 345px;
        position: center;
        margin: 0;
        padding-left: 157px;
    }
    
    .main-header .navigation .menu{
        position: relative;
        display: block;
        color: #000;
        min-width: 350px;
        top: 0;
        right: 0;
        padding: 90px 50px;
        overflow-y: auto;
    }

    .menu-item{
        position: relative;
    }

    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: #E3AD3F;
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover{
        color: #517B79;
        transition: 0.3s;
    }

}

/* Gallery*/
.gallery-header{
    background-image: url("../../Images/Gallery.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(252, 234, 198, 0.5);
    background-blend-mode: soft-light;
    padding-bottom: 107px;
}

.Gallery-text{
    margin:200px 0 0 130px;
    color:white;
    font-size: 5rem;
}

.gen-text{
    margin-top:50px;
    margin-left:131px;
}

.main-text-gallery, .rightside-panel{
    margin-top: 25px;
}

.Admission-text{
    margin-top:30px;
    margin-left:131px;
}

.gen-sub-text{
    margin: 25px;
    margin-left:131px;
}




.Opening{
    text-align:center;
    color:#1D1E4E;
    font-size:25px;
    font-weight: bold;
}

.right-title-text{
    color:#1D1E4E;
    font-size:25px;
    font-weight: bold;
    margin-left:25px;
    margin-bottom:10px;
}



.right-btn{
    position: relative;
    display: inline-block;
    color:white;
    margin-left:25px;
    margin-block: 10px;
    width: 335px;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    background-color: #0C8695;
    border:none;
}

.right-arrow{
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.gen-text2, .right-subtext{
    text-align: center;
}

.rightside-panel{
    margin-left: 190px;
    margin-right: auto;
}


@media (max-width: 50em){
    
    .rightside-panel{
        text-align: center;
    }
    .inline-icon{
        margin: 0;
    }
}


.cards{
    width: 25%;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 50px;
    margin-left: 125px;
    margin-right: -80px;
    box-shadow: 2px 2px 10px #c6c6c6;

}
.cards:hover{
    box-shadow: 2px 2px 10px black;
}

.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title{
    text-align: left;
    padding: 20px;
    margin-bottom: -20px;
}

.des{
    text-align: left;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

@media (max-width: 60em){
    .cards{
        display: grid;
        grid-auto-flow: row;
        width: 75%;
        justify-content: center;
    }
}


/* Gallery Info*/

.GalleryInfo-text-title{
    margin: 50px 0 0 50px;
}

h6 {
    margin-left: 50px;
    line-height: 1.5;
}

.gallery-info-grid{
    display: grid;
   grid-template-columns: repeat(3, auto);
   margin-block: 100px;
   justify-content: center;
   grid-gap: 50px;

   
   
}
@media(max-width: 50em){
    .gallery-info-grid{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    }
}

.galleyInfo-image{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.grid-item{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #c6c6c6;
}

.grid-item:hover{
    box-shadow: 2px 2px 10px black;
}
