* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 10vh;
    width: 100%;
    background-color: #E3AD3F;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
    height: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FFF;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.sub-menu{
    display: none;
    position: absolute;
    background-color: #e3ac3fb0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 5px;
    z-index: 100;
}

.nav-links ul li:hover .sub-menu{
    display: block;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.book-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid #E3AD3F;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.book-btn:hover{
    border: 1px solid #E3AD3F;
    background: #E3AD3F;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
    position: absolute;
    background: #E3AD3F;
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: -59px;
    text-align: left;
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    }
    .nav-links ul li::after{
        display: none;
    }
    .sub-menu{
        box-shadow: none;
        opacity: 1;
        position: relative;
        top: 0;
        min-width: 120px;
        background: #E3AD3F;
        overflow: hidden;
        display: none;
        margin-left: -2rem;
    }
    .menu-item .sub-menu{
        display: none;
    }
    .sub-menu .sub-item{
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .content-split-main {
        margin-top: 45px;
        overflow: hidden;
        padding-right: 0;
        text-align: justify;
        margin-bottom: -0.4rem;
        margin-top: -1rem;
    }
}

/* [START] COLLECTION OBJECT LIST */

.gallery-object-body{
    margin: 100px;
}
.page-title{
    font-family: "MetSerif","Georgia","Times New Roman",Times,serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.gallery-title{
    font-size: calc(2rem + (38 - 32) * ((100vw - 375px)/ (1440 - 375)));
    font-family: MetSerif,Georgia,"Times New Roman",Times,serif;
    font-weight: 500;
    line-height: 1.1;
}
.collection-text{
    font-family: "MetSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.exhibition-objects-grid__header-container {
    margin-bottom: 7.375rem;
    margin-top: 23px;
    margin-left: 200px;
    margin-right: 200px;
}
.exhibition-objects-grid__title {
    float: left;
    font-family: "MetSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 55px;
    line-height: 3.4375rem;
}
.button-list-view{
    float: right;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 3.4375rem;
}
.button-list-view button{
    background: transparent;
    padding: 5px;
    cursor: pointer;
    border: 0.5px solid #b9b9b9;
    width: 44px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
}
.button-list-view button:hover{
    border: 1.5px solid black;
    color: maroon;
}

/* CARDS */
.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
@media (min-width: 30em) {
    .band {
        grid-template-columns: 1fr 1fr;
   }
}
@media (min-width: 60em) {
    .band {
        grid-template-columns: repeat(4, 1fr);
   }
}
.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    width: 306px;
    transition: all 0.1s ease-in;
}
.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}
.card p {
    flex: 1;
    line-height: 1.4;
}
.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}
.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}
@media (min-width: 60em) {
    .item-1 {
        grid-column: 1 / span;
   }
    .item-1 h1 {
        font-size: 24px;
   }
}
/* CARDS */


/* [START] COLLECTION OBJECT LIST */


/* [START] FOOTER */

#footer{
    width: 100%;
    padding: 3px 0 3px;
    background: #E3AD3F;
    position: relative;
}
.title-text{
    text-align: center;
    padding-bottom: 30px;
}
.footer-row h1{
    font-size: 25px;
    font-weight: 600;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: maroon;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text h1{
    font-size: 25px;
    color: maroon;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: -60px;
    margin-top: -7px;
    color: maroon;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 25px;
}

.footer-left .fa, .footer-right .fa{
    font-size: 20px;
    color: maroon;
    margin: 10px;
}
.footer-left p, .footer-right p{
    color: maroon;
}
.footer-img{
    max-width: 159px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 65%;
}

.social-links{
    text-align: center;
    /* margin-bottom: 0px; */
    left: 0;
    width: 30%;
    right: 0;
    margin: auto;
}

.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid maroon;
    margin: 40px 5px 0;
    color: maroon;
    cursor: pointer;
    transition: .5s;
}

.social-links .fa:hover{
    background: maroon;
    color: #E3AD3F;
    transform: translateY(-7px);
}

.social-links p{
    font-size: 12px;
    margin-top: 20px;
    color: black;
}
.quicklinks a{
    text-decoration: none;
    color: maroon;
    transition: .3s;
}
.quicklinks a:hover{
    color: #FFF;
    text-decoration: underline;
}

@media (max-width:700px){
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .footer-img {
        max-width: 142px;
        position: absolute;
        left: 0;
        top: 75%;    
    }
    .title-text p {
        font-size: 13px;
    }
    .title-text h1 {
        font-size: 20px;
    }
    .footer-row p {
        line-height: 10px;
    }
    .footer-row h1 {
        margin: 10px 0;
        font-size: 20px;
    }
    .social-links{
        width: 100%;
        margin-bottom: 30px;
    }

}