@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* body header{
font-family: "Poppins", sans-serif;
}

:root{

    --clr-neutral-100: #ffffff;
    --clr-neutral-300: #999595;
    --clr-primary-400: #1D1E4E;
    --clr-accent-500: #E3AD3F;
    --clr-accent-600: black;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold:700;

    --fs-300: .8125rem;
    --fs-400: .875rem;
    --fs-500: .9375rem;
    --fs-600: 1rem;
    --fs-620: 1.14rem;
    --fs-650: 1.250rem;
    --fs-700: 1.875rem;
    --fs-750: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --fs-primary-heading: var(--fs-750);
    --fs-secondary-heading: var(--fs-700);
    --fs-body: var(--fs-400);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-300);

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;

}


@media (min-width: 50em){
    :root{
        --fs-primary-heading: var(--fs-900);
        --fs-secondary-heading: var(--fs-800);
        --fs-body:var(--fs-500);
        --fs-nav:var(--fs-300);
        
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.main-header{
    align-items: center;
    z-index: 999;
    background-image: url("../../Images/CasaReal.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    justify-content: space-between;
    padding: 0px 100px 100px;
}

.main-header .navigation{
    position: relative;
    line-height: 75px;
}

.main-header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 10px 0;
}

.main-header .navigation .menu a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.3 ease;
}

.main-header .navigation .menu a:before{
    content: '';
    position: absolute;
    background: #E3AD3F;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
}

.menu-item .sub-menu{
    position: absolute;
    background: #E3AD3F;
    top: 60px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(0);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;

}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.5);
}

.menu-item .sub-menu .sub-item a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover{
    background: #517B79;
}

.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

.main-header .navigation .menu a:hover:before{
    width: 100%;
}

section{
    padding: 200px 200px;
}

.entry-text{
    margin-left: 4px;
}

@media (max-width: 1060px){
    .main-header .navigation .menu{
        position: relative;
        display: block;
        color: #000;
        min-width: 350px;
        top: 0;
        right: 0;
        padding: 90px 50px;
        overflow-y: auto;
    }

    .menu-item{
        position: relative;
    }

    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: #E3AD3F;
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover{
        color: #517B79;
        transition: 0.3s;
    }

}

/*Home Page Images*/

.logo{
    height: 150px;
    width: 300px;
    position: abolute;
    margin:0;
    padding-left: var(--size-800);
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .content{
    z-index: 888;
    color: #1D1E4E;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background: #517b79;
    padding: 15px 35px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.Home-Image1{
    width: 210px;
    height: 100px;
    position: absolute;
}
.box1{
    width: 440px;
    height: 100px;
    background: rgba(183, 163, 140, 0.7);
    box-shadow: 11px 6px 14px rgba(0, 0, 0, 0.5);
    position: relative;
}


.title-text1{
    text-align: end;
    margin:20px 150px 0 0;
    font-weight: bold;
}

.horizontal1{
    border-top: 1px solid black;
    border-bottom:none;
    margin-left: 215px;
    width: 180px;
}

.sub-text1{
    text-align: end;
    margin: 10px 5px 0 0;
    font-size: 15px;
}

.box2{
    position: relative;
    width: 440px;
    height: 100px;
    background: rgba(183, 163, 140, 0.7);
    box-shadow: 11px 6px 14px rgba(0, 0, 0, 0.5);
}
.Home-Image2{
    width: 210px;
    height: 100px;
    position: absolute;
}

.title-text2{
    text-align: end;
    margin:20px 100px 0 0;
    font-weight: bold;
}


.sub-text2{
    text-align: end;
    margin: 10px 100px 0 0;
}

.Home-Image3{
    position: absolute;
    width: 210px;
    height: 100px;
}

.box3{
position: relative;
width: 440px;
height: 100px;
margin-top: 50px;
background: rgba(183, 163, 140, 0.7);
box-shadow: 11px 6px 14px rgba(0, 0, 0, 0.5);
}

.title-text3{
    text-align: end;
    margin:20px 160px 0 0;
    font-weight: bold;
}

.sub-text3{
    text-align: end;
    margin: 10px 25px 0 0;
}


/* carousel*/

.carousel{
    position: relative;
    margin: 0 auto;
}

.carousel-image-container{
    position: relative;
    height: 310px;
    width: 800px;
    margin: 0 auto;
}

.carousel-image-container > ul > li{
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide[data-active]{
    opacity: 1;
}

.carousel-image{
    background-repeat: no-repeat;
     background-color: rgba(255, 255, 255, 0.1);
     background-blend-mode:soft-light;
    object-fit: cover;
    height: 310px;
    width: 800px;
}

.carousel-track-container{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track{
    margin: 0;
    padding:0;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 250ms ease-in;
}

.carousel-button{
    cursor: pointer;
    background: transparent;
    border: 0;
    z-index: 2;
}


.carousel-button-left{
  padding-top: 7px;
}

.carousel-button-right{
    padding-top: 7px;
}



.carousel-button:hover{
    color: #0C8695;
}

.carousel-nav{
display:flex;
justify-content: center;
padding: 310px 0;
}

.carousel-indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(0 0 0 / 0.3);
    margin: 12px 12px;
    cursor: pointer;
}

 .current-slide{
    background: #0C8695;
}



/* Section 1*/

@media (max-width: 60em){
    .section1-title {
        margin-inline: auto;
    }
    .section2-title{
        margin-inline: auto;
    }
}

@media (max-width: 50em){
    .section1-title, .section2-title{
        text-align: center;
        margin-bottom: 50px;
    }
}

@media (min-width: 50em){
    .section1-title{
        margin:10px 0 50px 270px;
    }

}

.section1-title{
    margin:100px 0 50px 150px;
}

.section2-title{
    margin:100px 0 50px 150px;
}


.section1-Title1{
    color:white;
    font-size:40px;
    padding-top: 150px;
    padding-left: 50px;
}

.section1-text1{
    color:white;
    font-size:20px;
    padding-left: 50px;
}

 .section1-image1{
     background-image: url("../../Images/carousel-image1.png");
     background-repeat: no-repeat;
     background-color: rgba(255, 255, 255, 0.1);
     background-blend-mode:soft-light;
     height: 310px;
     width: 800px;
 }
 
 
 
 
 .section1-image2{
     background-image: url("../../Images/carousel-image2.png");
     background-repeat: no-repeat;
     background-color: rgba(255, 255, 255, 0.1);
     background-blend-mode:soft-light;
     height: 310px;
     width: 800px;
 }
 
 .section1-image3{
     background-image: url("../../Images/carousel-image3.png");
     background-repeat: no-repeat;
     background-color: rgba(255, 255, 255, 0.1);
     background-blend-mode:soft-light;
     object-fit:cover;
     height: 310px;
     width: 800px;;

 }


 /* section2*/


.section2-flex{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 50em){
    .section2-title{
        margin-inline: auto;
    }
    .section2-flex{
        display: grid;
        grid-auto-flow: row;
    }
}

@media (min-width: 50em){
.section2-title{
padding-top: 30px;
  margin-left: 154px;
  margin-block: 50px;
}
}

.section2-image2{
    background-image: url("../../Images/Section2Image2.png");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode:soft-light;
    height: 302px;
    width: 300px;
    border-radius: 5px;
}

.section2-image3{
    background-image: url("../../Images/Section2Image3.jpg");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode:soft-light;
    height: 302px;
    width: 300px;
    border-radius: 5px;
}
.section2-image4{
    background-image: url("../../Images/Section2Image4.jpg");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode:soft-light;
    height: 302px;
    width: 300px;
    border-radius: 5px;
}

.section2-text{
    margin-top: 150px;
    margin-left: 30px;
}

.section2-btn{
    margin-top:20px;
    margin-left:180px;
    padding: 10px 25px;
    border:none;
    border-radius: 5px;

}

.section2-btn1{
    margin-top:20px;
    margin-left:150px;
    padding: 10px 25px;
    border:none;
    border-radius: 5px;

}

.section2-btn2{
    margin-top:20px;
    margin-left:120px;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
}

button{
    cursor: pointer;
}

.nav-background{
    background-color: #E3AD3F;
}
 

/*Footer*/

.primary-footer{
    margin-top: 4rem;
}

.footer-logo{
    width: 100px;
    height: auto;
    margin-inline:auto;
}
.primary-footer-wrapper{
    display: grid;
    gap: var(--size-700);
    grid-template-areas: 
    'nav'
    'logo-social'
    'info';
}


@media (min-width: 50em){
    .primary-footer-wrapper{
        grid-template-areas:  'nav logo-social info ';
        
    }

}



@media (min-width: 50em){
    .primary-footer-nav, .center-text-footer{
       padding-top: 50px;
    }

    .primary-footer-nav{
        grid-area: logo-social;
        border-right: 1px solid white;
        padding-right: 100px;
    }
    
    .primary-footer-info{
        grid-area: info;
        border-left: 1px solid white;
        padding-left: 90px;
    }
}

.primary-footer-nav{
    grid-area: nav;
}

.primary-footer-logo-socail{
    grid-area: logo-social;
}

.primary-footer-info{
    grid-area: info;
}

.primary-footer-wrapper>*{
    margin-inline: auto;
}

.center-text-footer{
    text-align: center;
}

/* navigation*/

.header-text{
    margin-left: 50px;
}

.header-image{
    margin-left: auto;
    margin-right:25px;
}

@media (max-width: 50em){
    .main-header{
        padding-bottom: 100px;
    }

    .header-text{
        text-align: center;
    }
    .header-image{
       margin-inline:auto;
    }
    
}

.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.visually-hidden{
 position: abosulte;
 width: 1px;
 height: 1px;
 padding:0;
 margin: -1px;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 white-space: nowrap;
 border: 0;
}

.mobile-nav-toggle{
    display: none;

}

.nav-list a{
    font-size: var(--fs-nav);
}

.nav-list{
    display:flex;
    gap: clamp(var(--size-500), 5vw, var(--size-800));
    font-weight: var(--fw-bold);
    margin-right: 50px;
}



.nav-list a {
    text-decoration: none;
    color: var(--clr-accent-600);
    }
    
    .nav-list a :hover,
    .nav-list a :focus{
    color: var(--clr-accent-400);
    }

.search::before{
    content:'\1F50D';
}

@media (max-width: 60em){
    .primary-navigation{
        display: none;
        position: fixed;
        padding: var(--size-800);
        inset: 7rem var(--size-400) auto;
        max-width: 25rem;
        margin-inline: auto;
        background: var(--clr-neutral-100);
        border-radius: var(--size-100);
        box-shadow: 0 0 1em rgb(0 0 0 / 50%);
        z-index: 1;
}

.primary-header[data-overlay]::before{
content:'';
position: fixed;
inset: 0;
background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8))
}

.nav-list{
 display: grid;
 gap: var(--size-700);
 text-align: center;
 margin-inline: auto;
 font-weight: var(--fw-bold);
}

.primary-navigation[data-visible]{
    display: block;
    
}

.mobile-nav-toggle{
    display: block;
    position:fixed;
    top: var(--size-600);
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    }
    
    .mobile-nav-toggle .icon-close{
     display: none;
    }   
}

/* Footer navigation*/
.footer-nav a{
 color: var(--clr-neutral-100);
 text-decoration: none;

}

.footer-nav a:is(:hover, :focus){
    color: var(--clr-primary-400);
    text-decoration: none;
   
   }

.footer-nav{
    columns: 2;
    gap: clamp(var(--size-200), 15vw, var(--size-900));
}

.social-list{
    display: flex;
    justify-content: center;
    gap: var(--size-600);
}

.social-icon{
    width: var(--size-600);
    fill: var(--clr-neutral-100);
}

.social-list a:is(:hover, focus) .social-icon{
    fill: var(--clr-primary-400);
}

@media (min-width: 50em){

    .social-list{
        display: flex;
        gap: var(--size-400);
    }

    .social-icon{
        width: var(--size-500);
    }
}


/* Utility classes */

/*colors*/
.color-primary-400{
    color: var(--clr-primary-400);
}

.color-neutral-100{
    color: var(--clr-neutral-100);
}
.color-accent-500{
    color: var(--clr-accent-500);
}

.color-accent-600{
    color: var(--clr-accent-600);
}


/*background colors*/
.bg-primary-400{
    background-color: var(--clr-primary-400);
}

.bg-neutral-100{
    background-color: var(--clr-neutral-100);
}
.bg-color{
    background-color: var(--clr-accent-500);
}
/*font-weight*/
.fw-regular{
    font-weight: var(--fw-regular);
}
.fw-semi-bold{
    font-weight: var(--fw-semi-bold);
}
.fw-bold{
    font-weight: var(--fw-bold);
}
/*font sizes*/
.fs-primary-heading{
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
}
.fs-secondary-heading{
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
}

.fs-body-heading{
    font-size: var(--fs-body);
}
.fs-nav-heading{
    font-size: var(--fs-nav);
}
.fs-button-heading{
    font-size: var(--fs-button);
}

.fs-300{ font-size: var(--fs-300);}
.fs-400{ font-size: var(--fs-400);}
.fs-500{ font-size: var(--fs-500);}
.fs-600{ font-size: var(--fs-600);}
.fs-620{ font-size: var(--fs-620);
}
.fs-650{ font-size: var(--fs-650);}
.fs-700{ font-size: var(--fs-700);}
.fs-800{ font-size: var(--fs-800);}
.fs-900{ font-size: var(--fs-900);}

.padding-inline-auto{
    padding-inline: var(--size-900);
}

.padding-block-900{
    padding-block: var(--size-400);
    
}

.padding-block-500{
    padding-block: var(--size-500);  
}

.padding-block-600{
    padding-block: var(--size-600);
    
}


.padding-block-300{
    padding-block: var(--size-300);
}

.padding-block-400{
    padding-block: var(--size-400);
    
}

.padding-block-700{
    padding-block: var(--size-300);
}

.container{
    --max-width: 11110px;
    /* --padding: 1rem; */

    width: min(var(--max-width), 100% - (var(--padding) * 2 ));
    margin-inline: auto;
}

:where(.flow :not(:first-child)){
    margin-top: var(--flow-spacer, 0.75em);
}

:where(.flow :not(:first-child)){
    margin-bottom: var(--flow-spacer, 0.75em);
}

.even-columns{
    display: grid;
    gap: 1rem;
}

@media (min-width: 50em){
    .even-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}


.book-button{
    background-color: #517B79;
    border: none;
    border-radius: .75em;
    padding: .75em 3em;
    font-weight:var(--fw-semi-bold);
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 1em 1em -1em #517B79;
}

.book-button:hover, .button:focus-within{
    background-color: var(--clr-neutral-300);
}

/* Audio */

.audio-guide-main{
    margin: calc(32px + 1vw) 0 0;
}

.audio-guide-header {
    align-items: center;
    z-index: 999;
    margin-bottom: calc(48px + 1.5vw);
    text-align: center;
    background-size: cover;
    padding-bottom: 100px;
    justify-content: space-between;
    padding: 0px 100px;
}

.audio-guide-header .navigation{
    position: relative;
    line-height: 75px;
}

.audio-guide-header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.audio-guide-header .navigation .menu a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.3 ease;
}

.audio-guide-header .navigation .menu a:before{
    content: '';
    position: absolute;
    background: #000;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
}

@media (max-width: 1060px){
    .audio-guide-header .navigation .menu{
        position: relative;
        display: block;
        color: #000;
        min-width: 350px;
        top: 0;
        right: 0;
        overflow-y: auto;
        background: #E3AD3F;
    }

    .menu-item{
        position: relative;
    }

    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: #E3AD3F;
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover{
        color: #517B79;
        transition: 0.3s;
    }

}

.productive-component {
    margin-left: auto;
    margin-right: auto;
    max-width: min(85vw - (100vw - 100%),1600px);
}

.audio-guide-logo {
    margin: 0 auto calc(8px + 0.25vw);
    width: 100%;
}

p:last-child {
    margin-bottom: 0;
}

.audio-guide-title{
    font-size: 1.8em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;

}

.audio-guide-description, .audio-guide-form-description {
    margin: 0 auto;
}

.audio-guide-form-description {
    font-size: calc(.875rem + (16 - 14) * ((100vw - 375px) / (1440 - 375)));
    margin-bottom: calc(16px + 0.5vw);
    text-align: center;
}

p {
    font-family: inherit;
    max-width: 50em;
}

span{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

p {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

.audio-guide-search-section {
    margin-bottom: calc(64px + 2vw);
}
section{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

section {
    display: block;
}

.audio-guide-form-description {
    font-size: calc(.875rem + (16 - 14) * ((100vw - 375px) / (1440 - 375)));
    margin-bottom: calc(16px + 0.5vw);
    text-align: center;
}

.audio-guide-input-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 250px;
}


.marble-input-container {
    display: inline-block;
    position: relative;
}

.audio-guide-form-wrapper {
    display: flex;
    margin-inline: auto;
}


.screen-reader-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.audio-guide-input {
    flex-grow: 1;
    font-size: calc(1rem + (18 - 16) * ((100vw - 375px) / (1440 - 375)));
    width: auto;
}

.marble-input {
    background-color: #fff;
    border: 2px solid #e3e3e3;
    width: 100%;
}

input {
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    transition: all .3s;
}

.audio-guide-button {
    margin-left: calc(8px + 0.25vw);
    padding: 0 calc(8px + 0.25vw);
}

.primary-button-ghost-dark {
    background: transparent;
    border: 2px solid #333;
    color: #333;
}

.primary-button {
    border: 0;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-family: MetSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: calc(1.125rem + 2*(100vw - 375px)/1065);
    font-weight: 500;
    transition: background-position .3s,color .3s;
    border: 2px solid black;
}

.button {
    cursor: pointer;
    font-family: MetSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1;
    margin: 0;
    position: relative;
    text-decoration: none;
    touch-action: manipulation;
    white-space: nowrap;
}


form {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: initial;
    width: 400px;
    
}

 /* Gallery*/
 .gallery-header{
    align-items: center;
    z-index: 999;
    background-image: url("../../Images/Gallery.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(252, 234, 198, 0.5);
    background-blend-mode: soft-light;
    padding-bottom: 107px;
    justify-content: space-between;
    padding: 0px 100px;
}

.gallery-header .navigation{
    position: relative;
    line-height: 75px;
}

.gallery-header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 10px 0;
}

.gallery-header .navigation .menu a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.3 ease;
}

.gallery-header .navigation .menu a:before{
    content: '';
    position: absolute;
    background: #000;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
}

.menu-item .sub-menu{
    position: absolute;
    background: #E3AD3F;
    top: 60px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(0);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;

}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.5);
}

.menu-item .sub-menu .sub-item a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover{
    background: #517B79;
}

.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

.main-header .navigation .menu a:hover:before{
    width: 100%;
}

.Gallery-text{
    margin:200px 0 0 30px;
    color:white;
    font-size: 5rem;
}

.gen-text{
    margin-top:50px;
    margin-left:131px;
}

.main-text-gallery, .rightside-panel{
    margin-top: 25px;
}

.Admission-text{
    margin-top:30px;
    margin-left:131px;
}

.gen-sub-text{
    margin: 25px;
    margin-left:131px;
}

.Opening{
    text-align:center;
    color:#1D1E4E;
    font-size:25px;
    font-weight: bold;
}

.right-title-text{
    color:#1D1E4E;
    font-size:25px;
    font-weight: bold;
    margin-left:25px;
    margin-bottom:10px;
}

.right-btn{
    position: relative;
    display: inline-block;
    color:white;
    margin-left:25px;
    margin-block: 10px;
    width: 335px;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    background-color: #0C8695;
    border:none;
}

.right-arrow{
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.gen-text2, .right-subtext{
    text-align: center;
}

.rightside-panel{
    margin-left: 190px;
    margin-right: auto;
}

@media (max-width: 1060px){
    .nav-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .logo{
        height: 150px;
        width: 345px;
        position: center;
        margin: 0;
        padding-left: 157px;
    }
    
    .main-header .navigation .menu{
        position: relative;
        display: block;
        color: #000;
        min-width: 350px;
        top: 0;
        right: 0;
        padding: 90px 50px;
        overflow-y: auto;
    }

    .menu-item{
        position: relative;
    }

    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: #E3AD3F;
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover{
        color: #517B79;
        transition: 0.3s;
    }

}

@media (max-width: 50em){
    
    .rightside-panel{
        text-align: center;
    }
    .inline-icon{
        margin: 0;
    }
}


.cards{
    width: 25%;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 50px;
    margin-left: 125px;
    margin-right: -80px;
    box-shadow: 2px 2px 10px #c6c6c6;

}
.cards:hover{
    box-shadow: 2px 2px 10px black;
}

.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title{
    text-align: left;
    padding: 20px;
    margin-bottom: -20px;
}

.des{
    text-align: left;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

@media (max-width: 60em){
    .cards{
        display: grid;
        grid-auto-flow: row;
        width: 43%;
        justify-content: center;
    }
}


/* Gallery Info*/

.info-header{
    align-items: center;
    z-index: 999;
    /* background-repeat: no-repeat;
    background-size: cover; */
    padding-bottom: 100px;
    justify-content: space-between;
    padding: 0px 100px;
}

.info-header .navigation{
    position: relative;
    line-height: 75px;
}

.info-header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 10px 0;
}

.info-header .navigation .menu a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.3 ease;
}

.info-header .navigation .menu a:before{
    content: '';
    position: absolute;
    background: #E3AD3F;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
}

.menu-item .sub-menu{
    position: absolute;
    background: #E3AD3F;
    top: 60px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(0);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;

}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.5);
}

.menu-item .sub-menu .sub-item a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover{
    background: #517B79;
}

.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

.main-header .navigation .menu a:hover:before{
    width: 100%;
}

.GalleryInfo-text-title{
    margin: 50px 0 0 170px;
}

h6 {
    margin-right: 145px;
    margin-left: 177px;
    line-height: 1.5;
}

.gallery-info-grid{
    display: grid;
   grid-template-columns: repeat(3, auto);
   margin-block: 100px;
   justify-content: center;
   grid-gap: 50px;

   
   
}
@media(max-width: 50em){
    .gallery-info-grid{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    }
}

.galleyInfo-image{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.grid-item{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #c6c6c6;
}

.grid-item:hover{
    box-shadow: 2px 2px 10px black;
}


/* Plan */

.plan-header{
    align-items: center;
    z-index: 999;
    background-image: url("../../Images/Plan.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(252, 234, 198, 0.5);
    background-blend-mode: soft-light;
    padding-bottom: 100px;
    justify-content: space-between;
    padding: 0px 100px 50px;
}

.plan-header .navigation{
    position: relative;
    line-height: 75px;
}

.plan-header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 10px 0;
}

.plan-header .navigation .menu a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.3 ease;
}

.plan-header .navigation .menu a:before{
    content: '';
    position: absolute;
    background: #E3AD3F;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
}

.menu-item .sub-menu{
    position: absolute;
    background: #E3AD3F;
    top: 60px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(0);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;

}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.5);
}

.menu-item .sub-menu .sub-item a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover{
    background: #517B79;
}

.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

.main-header .navigation .menu a:hover:before{
    width: 100%;
}

section{
    padding: 0px 0px;
}

.entry-text{
    margin-left: 4px;
}

.book-button-plan{
    background-color: #517B79;
    border: none;
    border-radius: .75em;
    padding: .75em 35px;
    font-weight:var(--fw-semi-bold);
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 1em 1em -1em #517B79;
    margin-left: 50px;
}

.Plan-text{
    margin:90px 0 0 50px;
    font-size: 5rem;
}

/* guideline section*/

.guideline-flex{
    display:flex;
}
.guideLine-section{
    background-color:#B7A08A;
    color: white;
    padding-bottom:30px;
}

.visitor-guideline-text{
   margin-left: 150px;
    flex-basis: 30%;
}
.guide-cloumn2{
    flex-basis: 70%;
    margin-left:200px;
}

.visitor-guideline-text2{
    font-weight: bold;
}

.Read-Guideline-link{
    text-decoration: none;
}

/*main guideline content*/

.plan-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* .gen-sub-text{
    margin-right: 47px;
} */


.right-content{
    margin-top: 20px;
    margin-right: 100px;
    text-align: center;
}

.plan-line{
    width: 75%;
    margin-left: 130px;
}
.plan-line-right{
    margin-left:30px;
    width:300px;
}

.inline-icon{
    padding-top: 10px;
}
@media (max-width: 60em){
    .plan-grid{
        display: flex;
        flex-wrap: wrap;
    }

    .right-content{
        text-align: center;
        margin-inline: auto;
    }
}

.free-text{
    margin-top: 20px;
    margin-right: 100px;
}

.right-btn{
    width: 80%;
}

@media (max-width: 1060px){
    .plan-header .navigation .menu{
        position: relative;
        display: block;
        color: #000;
        min-width: 350px;
        top: 0;
        right: 0;
        padding: 90px 50px;
        overflow-y: auto;
    }

    .menu-item{
        position: relative;
    }

    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: #E3AD3F;
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover{
        color: #517B79;
        transition: 0.3s;
    }

}


/*Virtual tour*/
.Virtual-header{
    align-items: center;
    z-index: 999;
    background-image: url("../../Images/Visit.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: rgba(252, 234, 198, 0.5);
    background-blend-mode: soft-light;
    padding-bottom: 100px;
}

.Virtual-header .navigation{
    position: relative;
    line-height: 75px;
}

.Virtual-header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a{
    color: #000;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 10px 0;
}

.Virtual-header .navigation .menu a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.3 ease;
}

.Virtual-header .navigation .menu a:before{
    content: '';
    position: absolute;
    background: #E3AD3F;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
}

.menu-item .sub-menu{
    position: absolute;
    background: #E3AD3F;
    top: 60px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(0);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;

}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.5);
}

.menu-item .sub-menu .sub-item a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover{
    background: #517B79;
}

.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

.main-header .navigation .menu a:hover:before{
    width: 100%;
}

.virtual-text {
    margin:220px 0 0 50px;
    font-size: 5rem;
}

.Access-text{
    margin-left: 160px;
    margin-top: 100px;
}

.flex-visit-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

@media (max-width: 1060px){
    .Virtual-header .navigation .menu{
        position: relative;
        display: block;
        color: #000;
        min-width: 350px;
        top: 0;
        right: 0;
        padding: 90px 50px;
        overflow-y: auto;
    }

    .menu-item{
        position: relative;
    }

    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: #E3AD3F;
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }

    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover{
        color: #517B79;
        transition: 0.3s;
    }

}

@media(max-width: 50em){
    .flex-visit-container{
        display:flex;
        flex-wrap: wrap;
    }
}

.flex-item-1{
    background-image: url(../../Images/VisitItem1.png);
    background-repeat: no-repeat;
    height: 80%;
    padding-bottom: 50px;
    padding-right: 250px;
}


.flex-item-2{
    background-image: url(../../Images/VisitItem2.png);
    background-repeat: no-repeat;
    height: 80%;
    padding-bottom: 50px;
    padding-right: 300px;
}

.item-text{
    color: var(--clr-neutral-100);
    font-size: 30px;
    font-weight: var(--fw-bold);
    margin-left: 50px;
    margin-top: 300px;
}

.Visit-Gen-text1{
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
}

.Virtul-tour-title{
    margin-left: 150px;
    margin-right: 150px;
}

.tips{
    margin-left: 150px;
}

.note{
    margin-left: 150px;
    margin-right: 150px;
    line-height: 1.5;
}

/*Audio Description*/

.Audio-Title{
    margin-left: 150px;
    font-size: 40px;
}

.Audio-picture{
    margin-top: 50px;
    margin-left: 150px;
    height: 500px;
    width: 600px;
}

.audio-nav{
    text-align: center;
    margin-left: 100px;
}

.audio-button{
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 30px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
  
  .audio-button:hover {
    background-color: #198754; /* Green */
    color: white;
  }

.info-button{
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

  .info-button:hover {
    background-color: #198754; /* Green */
    color: white;
  }

.Audio-info{
max-width: 50px;
margin-left: 150px;
margin-top: 8px;
text-align: justify;
line-height: 1.5;
position: relative;
}

.playlist-text{
    margin: 20px 0 30px 150px;
}

.playlist-content{
    position: relative;
    overflow-y: scroll;
    height: 320px;
    margin-left: 150px;
    width: 450px;
}

.audio-player{
    display: inline-block;
    width: 450px;
    margin-top: 10px;
    margin-left:150px;
}


.play-list1, .play-list2, .play-list3{
   position: relative;
}

.playlist-img{
    display: inline-block;
    position: relative;
    margin-bottom:10px;
}
.playlist-title-text{
    position: absolute;
    display: inline-block;
    margin-left: 90px;
    font-size: 20px;
    padding-top:20px;
}

@media (max-width: 50em){
    .Audio-picture{
       margin-left: 150px;
    }
    .audio-content{
        margin-left: 50px;
    }
}


/*IMAGE MODAL*/
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}